/**
* Batalles / Prioritats styles
*/

// top menu
#block-views-batalles_top_menu-block .view {
  @extend %wrapper;
  > .view-content {
    > .item-list {
      > ul {
        display: flex;
        align-items: stretch;
        @media screen and (max-width: $small_screen_width) {
          display: block;
        }
      }
    }
  }
  .views-row {
    flex-grow: 1;
    background: $theme_grey_lighter;
    border-left: 1px solid white;
    &:first-child {
      border-left: none;
    }
    &.active-trail > ul.menu {
      display: table;
    }
    &.tid-679 {
      a {
        &.active, &:hover {
          background-color: $theme_habitatge;
        }
      }
    }
    &.tid-680 {
      a {
        &.active, &:hover {
          background-color: $theme_ciutatverda;
        }
      }
    }
    &.tid-681 {
      a {
        &.active, &:hover {
          background-color: $theme_gestiopublica;
        }
      }
    }
    &.tid-682 {
      a {
        &.active, &:hover {
          background-color: $theme_desigualtats;
        }
      }
    }
    &.tid-683 {
      a {
        &.active, &:hover {
          background-color: $theme_novapolitica;
        }
      }
    }
    &.tid-684 {
      a {
        &.active, &:hover {
          background-color: $theme_barris;
        }
      }
    }
    @media screen and (max-width: $small_screen_width) {
      border-left: none;
      border-bottom: 1px solid white;
    }
    div {
      height: 100%;
    }
    a {
      display: block;
      font-size: 160%;
      height: 100%;
      padding: 13px;
      text-align: center;
      color: $theme_grey_darker;
      &.active, &:hover {
        color: black;
      }
    }
    ul.menu {
      display: none;
    }
  }
}

body.page-taxonomy-term-679, body.page-taxonomy-term-680, body.page-taxonomy-term-681, body.page-taxonomy-term-682, body.page-taxonomy-term-683, body.page-taxonomy-term-684 {
  .region-content-top {
    margin-bottom: 20px;
    > .inner {
      @extend %widerbody;
      @extend %below-wrapper-horizontal-air;
      padding-top: 40px;
      padding-bottom: 80px;
    }
  }
}
body.page-taxonomy-term-684 {
  .region-content-top {
    margin-bottom: 0;
  }
}

body.page-taxonomy-term-679 .region-content-top {
  background-color: $theme_habitatge;
}
body.page-taxonomy-term-680 .region-content-top {
  background-color: $theme_ciutatverda;
}
body.page-taxonomy-term-681 .region-content-top {
  background-color: $theme_gestiopublica;
}
body.page-taxonomy-term-682 .region-content-top {
  background-color: $theme_desigualtats;
}
body.page-taxonomy-term-683 .region-content-top {
  background-color: $theme_novapolitica;
}
body.page-taxonomy-term-684 .region-content-top {
  background-color: $theme_barris;
}

// current fight
.view-batalla-current {
  .views-row {
    .views-field-field-icon {
      float: left;
      margin-right: 20px;
      width: 133px;
      height: 133px;
      @media screen and (max-width: $small_screen_width) {
        float: none;
        margin: 0 auto 20px;
      }
    }
    .views-field-field-lead {
      padding-top: 5px;
      p {
        font-size: 420%;
        font-weight: 900;
        line-height: 1.1;
        margin-bottom: 0;
        @media screen and (max-width: $mediumbig_screen_width) {
          font-size: 320%;
        }
      }
    }
    .views-field-description {
      clear: both;
      margin-top: 12px;
      padding-top: 12px;
      border-top: 1px solid black;
      p {
        font-size: 240%;
        line-height: 1.4;
        margin-bottom: 0;
        @media screen and (max-width: $mediumbig_screen_width) {
          font-size: 180%;
        }
      }
    }
    .views-field-edit-term {
      a {
        color: white;
        padding: 3px 5px;
        font-size: 120%;
        background-color: $theme_red;
      }
    }
  }
}

// current fight's children
.view-batalles-children {
  margin-top: 40px;
  > .view-content {
    > .item-list {
      > ul {
        @extend %clearfix;
      }
    }
  }
  .views-row {
    float: left;
    width: 187px;
    margin-right: 20px;
    .views-field-field-icon {
      margin-bottom: 20px;
    }
    .views-field-name {
      font-size: 160%;
      font-weight: bold;
      line-height: 1.25;
      margin-bottom: .3em;
    }
    .views-field-description {
      p {
        font-size: 160%;
        line-height: 1.4;
        margin-bottom: 0;
      }
    }
    .views-field-edit-term {
      a {
        color: white;
        padding: 3px 5px;
        font-size: 120%;
        background-color: $theme_red;
      }
    }
  }
}

// Home Batalles
#block-views-batalles_home-block {
  padding: 60px 0;
  @media screen and (max-width: $mediumbig_screen_width) {
    padding: 30px 0;
  }
  > header {
    h1 {
      font-size: 420%;
      font-weight: 900;
      margin-bottom: 110px;
      text-align: center;
      @media screen and (max-width: $mediumbig_screen_width) {
        font-size: 320%;
      }
      @media screen and (max-width: $small_screen_width) {
        margin-bottom: 60px;
      }
    }
  }
}
.view-batalles-home {
  .view-content {
    @extend %wrapper;
    @include simple-column-container;
    .views-row {
      @include simple-column(3, 4%);
      margin-bottom: 140px;
      @media screen and (max-width: $big_screen_width) {
        @include simple-column(2, 4%);
        margin-bottom: 90px;
      }
      @media screen and (max-width: $small_screen_width) {
        @include simple-column(1, 0);
        margin-bottom: 70px;
      }
      &:hover {
        .views-field-field-icon {
          display: none;
        }
        .views-field-field-icon-on {
          display: block;
        }
      }
      &.tid-679:hover .views-field-field-lead a {
        color: $theme_habitatge;
      }
      &.tid-680:hover .views-field-field-lead a {
        color: $theme_ciutatverda;
      }
      &.tid-681:hover .views-field-field-lead a {
        color: $theme_gestiopublica;
      }
      &.tid-682:hover .views-field-field-lead a {
        color: $theme_desigualtats;
      }
      &.tid-683:hover .views-field-field-lead a {
        color: $theme_novapolitica;
      }
      &.tid-684:hover .views-field-field-lead a {
        color: $theme_barris2;
      }
      .views-field-field-icon, .views-field-field-icon-on {
        width: 200px;
        height: 200px;
        text-align: center;
        margin: 0 auto 20px;
        @media screen and (max-width: $small_screen_width) {
          width: 150px;
          height: 150px;
        }
        img {
          display: inline-block;
        }
      }
      .views-field-field-icon-on {
        display: none;
      }
      .views-field-field-lead {
        text-align: center;
        font-size: 240%;
        font-weight: bold;
        line-height: 1.25;
        a {
          color: black;
        }
      }
    }
  }
}