/**
* Batalles / Prioritats styles
*/

// top menu
.region-highlighted .menu-block-wrapper ul.menu li {
  &.active-trail, &.active, &:hover {
    a {
      color: black;
    }
    &.tid-679 {
      a {
        background-color: $theme_habitatge;
      }
    }
    &.tid-680 {
      a {
        background-color: $theme_ciutatverda;
      }
    }
    &.tid-681 {
      a {
        background-color: $theme_gestiopublica;
      }
    }
    &.tid-682 {
      a {
        background-color: $theme_desigualtats;
      }
    }
    &.tid-683 {
      a {
        background-color: $theme_novapolitica;
      }
    }
    &.tid-684 {
      a {
        background-color: $theme_barris;
      }
    }
  }
}

body.page-taxonomy-term-679, body.page-taxonomy-term-680, body.page-taxonomy-term-681, body.page-taxonomy-term-682, body.page-taxonomy-term-683, body.page-batalla-accions-als-barris {
  .region-content-top {
    margin-bottom: 20px;
    > .inner {
      @extend %widerbody;
      @extend %below-wrapper-horizontal-air;
      padding-top: 40px;
      padding-bottom: 80px;
    }
  }
}
body.page-taxonomy-term-684 {
  .region-content-top {
    margin-bottom: 0;
  }
}

body.page-taxonomy-term-679 .region-content-top {
  background-color: $theme_habitatge;
}
body.page-taxonomy-term-680 .region-content-top {
  background-color: $theme_ciutatverda;
}
body.page-taxonomy-term-681 .region-content-top {
  background-color: $theme_gestiopublica;
}
body.page-taxonomy-term-682 .region-content-top {
  background-color: $theme_desigualtats;
}
body.page-taxonomy-term-683 .region-content-top {
  background-color: $theme_novapolitica;
}
body.page-batalla-accions-als-barris .region-content-top {
  background-color: $theme_barris;
}

// current fight
.view-batalla-current {
  .views-row {
    .views-field-field-icon {
      float: left;
      margin-right: 20px;
      width: 133px;
      height: 133px;
      @media screen and (max-width: $small_screen_width) {
        float: none;
        margin: 0 auto 20px;
      }
    }
    .views-field-name-field {
      padding-top: 5px;
      font-size: 420%;
      font-weight: 900;
      line-height: 1.1;
      margin-bottom: 0;
      @media screen and (max-width: $mediumbig_screen_width) {
        font-size: 320%;
      }
    }
    .views-field-description-field {
      clear: both;
      margin-top: 12px;
      padding-top: 12px;
      border-top: 1px solid black;
      p {
        font-size: 240%;
        line-height: 1.4;
        margin-bottom: 0;
        @media screen and (max-width: $mediumbig_screen_width) {
          font-size: 180%;
        }
      }
    }
    .views-field-edit-term {
      a {
        color: white;
        padding: 3px 5px;
        font-size: 120%;
        background-color: $theme_red;
      }
    }
  }
}

// current fight's children
.view-batalles-children {
  margin-top: 40px;
  > .view-content {
    > .item-list {
      > ul {
        @extend %clearfix;
      }
    }
  }
  .slick-slider {
    .slick-arrow {
      left: -50px;
      @media screen and (max-width: $big_screen_width) {
        left: 0;
        background: rgba(255, 255, 255, .4);
      }
      &.slick-next {
        left: auto;
        right: -50px;
        @media screen and (max-width: $big_screen_width) {
          right: 0;
        }
      }
    }
  }
  .views-row {
    float: left;
    width: 187px;
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
    .views-field-field-icon {
      margin-bottom: 20px;
    }
    .views-field-name-field {
      font-size: 160%;
      font-weight: bold;
      line-height: 1.25;
      margin-bottom: .3em;
    }
    .views-field-description-field {
      p {
        font-size: 160%;
        line-height: 1.4;
        margin-bottom: 0;
      }
    }
    .views-field-edit-term {
      a {
        color: white;
        padding: 3px 5px;
        font-size: 120%;
        background-color: $theme_red;
      }
    }
  }
}

// Home Batalles
#block-views-batalles_home-block {
  padding: 30px 0;
  @media screen and (max-width: $mediumbig_screen_width) {
    padding: 20px 0;
  }
  > header {
    h1 {
      font-size: 420%;
      font-weight: 900;
      text-align: center;
      margin-bottom: .2em;
      @media screen and (max-width: $mediumbig_screen_width) {
        font-size: 320%;
      }
    }
  }
}
.view-batalles-home {
  > header {
    margin-bottom: 60px;
    @media screen and (max-width: $small_screen_width) {
      margin-bottom: 30px;
    }
    p {
      @extend %narrowbody;
      margin-bottom: 0;
      text-align: center;
    }
  }
  .view-content {
    @extend %wrapper;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .views-row {
      display: table;
      width: 190px;
      height: 190px;
      padding: 5px 10px;
      margin: 0 10px 80px;
      border: 2px solid black;
      border-radius: 50%;
      @media screen and (max-width: $huge_screen_width) {
        width: 170px;
        height: 170px;
        margin-bottom: 50px;
      }
      @media screen and (max-width: $big_screen_width) {
        margin-bottom: 20px;
      }
      &:hover {
        .views-field-name-field {
          display: none;
        }
        .views-field-field-lead {
          display: table-cell;
        }
      }
      &.tid-679 {
        border-color: $theme_habitatge;
        &:hover {
          background-color: $theme_habitatge;
        }
      }
      &.tid-680 {
        border-color: $theme_ciutatverda;
        &:hover {
          background-color: $theme_ciutatverda;
        }
      }
      &.tid-681 {
        border-color: $theme_gestiopublica;
        &:hover {
          background-color: $theme_gestiopublica;
        }
      }
      &.tid-682 {
        border-color: $theme_desigualtats;
        &:hover {
          background-color: $theme_desigualtats;
        }
      }
      &.tid-683 {
        border-color: $theme_novapolitica;
        &:hover {
          background-color: $theme_novapolitica;
        }
      }
      &.tid-684 {
        border-color: $theme_barris2;
        &:hover {
          background-color: $theme_barris2;
        }
      }
      .views-field-name-field {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        font-size: 240%;
        font-weight: bold;
        line-height: 1.25;
        a {
          color: black;
        }
      }
      .views-field-field-lead {
        display: none;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        font-size: $base-font-size;
        line-height: 1.25;
        a {
          color: black;
        }
      }
    }
  }
}