/**
* Cronograma Qui Som styles
*/

#page.cronograma-page {
  article.node {
    @extend %widerbody;
    > header h1 {
      max-width: none;
      opacity: 0;
      transition: all 1.5s ease;
      &.appear {
        opacity: 1;
      }
    }
    .share-links {
      text-align: center;
      background: white;
      position: relative;
      z-index: 2;
      padding: 30px 0;
      margin-bottom: 30px;
    }
    .body {
      width: 60%;
      margin: 0 auto;
      position: relative;
      z-index: 2;
      p {
        opacity: 0;
        text-align: center;
        font-size: 240%;
        font-weight: 100;
        margin-bottom: 4em;
        padding: 2em 0;
        background: white;
      }
    }
  }
}

.view-cronograma-quisom {
  @extend %widerbody;
  margin-bottom: 40px;
  position: relative;
  &:before {
    position: absolute;
    content: " ";
    background: $theme_red;
    width: 1px;
    height: 100%;
    left: -20px;
    z-index: 1;
  }
  .view-content {
    > .item-list > ul {
      @extend %clearfix;
      position: relative;
      z-index: 2;
    }
  }
  .views-row {
    position: relative;
    margin-bottom: 120px;
    min-height: 240px;
    padding-right: 20px;
    width: 60%;
    @media screen and (max-width: $medium_screen_width) {
      width: 100%;
    }
    .views-field-field-day {
      font-size: 160%;
      margin-bottom: .2em;
      color: $theme_grey_dark;
    }
    .views-field-title-field {
      font-size: 180%;
      font-weight: 900;
      margin-bottom: .8em;
    }
    .views-field-field-image {
      width: 100%;
      max-width: 400px;
      margin: 0 0 .5em;
      position: absolute;
      left: 105%;
      top: 0;
      @media screen and (max-width: $medium_screen_width) {
       @include one-columnize;
      }
    }
    .views-field-body {
      p {
        font-size: 150%;
        margin-bottom: .2em;
      }
    }
    .views-field-field-milestone-importance {
      display: none;
    }
    .views-field-field-link {
      font-size: 150%;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .views-field-edit-node {
      margin-top: 20px;
      a {
        background: $theme_red;
        color: white;
        font-size: 160%;
        padding: .2em .5em;
      }
    }
  }
}
