/**
* Grups als Barris page styles
*/
body.page-grup-barri {
  /*#content-inner {
    @extend %narrowbody;
    padding: 30px 0;
  }*/
}

.view-grups-als-barris {
  @extend %narrowbody;

  // verificacions box
  .verificacions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 290px;
    padding: 8px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, .7);
    border: 2px solid $theme_red;
    opacity: 0;
    transition: all .6s ease;
    &[data-visible="true"] {
      opacity: 1;
    }
    a:hover {
      text-decoration: underline;
    }
    [data-action="close"] {
      padding: 0;
      font-size: 1em;
      width: 16px;
      height: 16px;
      color: $theme_red;
      background: none;
      position: absolute;
      top: 6px;
      right: 6px;
    }
    > h3 {
      font-size: 1.3em;
      color: $theme_red;
      text-transform: uppercase;
      margin-bottom: .7em;
    }
    .view-district-verification {
      .views-row {
        margin-bottom: 5px;
        overflow: hidden;
        .views-field-field-date {
          float: left;
          width: 25%;
          font-size: 120%;
          line-height: 1.3;
        }
        .views-field-title {
          float: left;
          width: 73%;
          font-size: 120%;
          line-height: 1.3;
          margin-bottom: .4em;
        }
      }
    }
  }

  // grups list
  > .view-content {
    > .item-list {
      > h3 {
        font-size: 400%;
      }
    }
    .views-row {
      margin-bottom: 40px;
      .views-field {
        font-size: 160%;
        line-height: 1.25;
        margin-bottom: .5em;
      }
      .views-field-title {
        font-size: 180%;
        font-weight: 900;
        margin-bottom: .2em;
      }
      .views-field-field-grup-meetings {
        line-height: 1.5;
      }
      .views-field-field-grup-email, .views-field-field-grup-web, .views-field-field-grup-facebook, .views-field-field-grup-twitter, .views-field-field-grup-instagram, .views-field-field-grup-telegram {
        position: relative;
        padding-left: 30px;
        &:before {
          @include iconize(-25px, -25px);
          position: absolute;
          top: -3px;
          left: 0;
          content: " ";
        }
      }
      .views-field-field-grup-email:before {
        background-position: -25px -125px;
      }
      .views-field-field-grup-web:before {
        background-position: -50px -125px;
      }
      .views-field-field-grup-facebook:before {
        background-position: -75px -125px;
      }
      .views-field-field-grup-twitter:before {
        background-position: -100px -125px;
      }
      .views-field-field-grup-instagram:before {
        background-position: -125px -125px;
      }
      .views-field-field-grup-telegram:before {
        background-position: -150px -125px;
      }
    }
  }
}