/**
 * @file
 * Generic and Drupal styles
 */

/**
 * Accessibility features.
 */

/* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.element-invisible,
%element-invisible {
  @include element-invisible;
}

/* Turns off the element-invisible effect. */
%element-invisible-off {
  @include element-invisible-off;
}

.element-focusable,
%element-focusable {
  @extend %element-invisible;

  &:active,
  &:focus {
    @extend %element-invisible-off;
  }
}

#skip-link {
  @extend %element-invisible;
}

/* primary tabs */
.tabs.primary {
  @extend %clearfix;
  margin: 20px 0;
  padding-left: 2px;
  border-bottom: 1px solid #999;
  li {
    float: left;
    font-size: 14px;
    margin: 0 2px;
    position: relative;
    top: 1px;
    a {
      display: block;
      padding: .3em .5em;
      background: white;
      border: 1px solid #999;
      border-bottom: none;
    }
  }
}

/**
 * Pager
 */
.pager {
  @extend %clearfix;
  margin: 30px 0;
  text-align: center;

  // infinite scroll pager
  &.pager--infinite-scroll {
    a {
      @include buttonize;
      width: 100%;
      max-width: 400px;
    }
  }

  // normal pager
  .pager-item {
    @extend %pager__item;
  }
  .pager-current {
    @extend %pager__item;
    padding: 5px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
  }
  .pager-first,
  .pager-previous,
  .pager-next,
  .pager-last,
  .pager-ellipsis {
    @extend %pager__item;
  }
}

// icons
.icon {
  @include iconize;
}

/**
 * Tabs
 */
.tabs {
  > .tab-nav {
    > ul {
      display: table;
      width: 100%;
      > li {
        display: table-cell;
        text-align: center;
        &:first-child a {
          border-left: none;
        }
        &.active a {
          background: white;
          font-weight: bold;
          border-bottom: 1px solid white;
        }
        a {
          display: block;
          padding: 1em 0 .6em;
          text-transform: uppercase;
          font-size: 110%;
          border-left: 1px solid $theme_grey_lighter;
          border-bottom: 1px solid $theme_grey_lighter;
          color: black;
        }
      }
    }
  }
}

// edit node button
.views-field-edit-node {
  margin-top: 5px;
  font-size: 120%;
}

/**
 * Messages
 */
.messages {
  @extend %narrowbody;
  background-color: $theme_red;
  padding: 15px 20px;
  margin: 20px 0;
  color: white;
  font-size: 14px;
  &.error {
    background-color: $theme_error;
  }
}

/* accordions */
.accordion {
  > h3 {
    color: $theme_red;
    &:hover {
      text-decoration: underline;
    }
    .fa {
      margin-left: 10px;
    }
  }
}

/* ajax call button */
button[data-ajax-call] {
  background: #111;
  &[disabled] {
    background: #333;
  }
  &[data-state="iddle"], &[data-state="finished"] {
    .ajax-progress .throbber, {
      background-position: 0 0;
    }
  }
}

/**
 * Views filters
 */
.views-exposed-form {
  .views-exposed-widgets {
    .views-exposed-widget {
      .views-widget {
        input, select {
          padding: 5px;
          font-size: 160%;
          height: 26px;
        }
      }
    }
  }
}
.view-empty {
  font-size: 160%;
}

/* krumo messages */
.krumo-root {
  img {
    width: auto;
  }
}

/* ckeditor */
.cke_contents {
  padding: 10px;
}

/**
 * Forms
 */

.form-item {
  position: relative;
  margin-bottom: 20px;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 40px;
}

legend {
  font-size: 220%;
  font-weight: bold;
  margin-bottom: .3em;
}

label {
  margin-bottom: .4em;
  font-size: 170%;
  font-weight: normal;
}

/* buttons */
a[data-action], input[type="submit"], input[type="button"], button {
  @include buttonize;
}

input[type="submit"][disabled], input[type="button"][disabled] {
    opacity: .2;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    padding: 10px;
    border: 1px solid $theme_grey_light;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
    font-size: 260%;
    width: 100%;
}

/* radios */
input[type="radio"]:not(:checked),
input[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}
input[type="radio"]:not(:checked) + label,
input[type="radio"]:checked + label {
    position: relative;
    display: block;
    padding-left: 30px;
    cursor: pointer;
}
    /* shape */
    input[type="radio"]:not(:checked) + label:before,
    input[type="radio"]:checked + label:before {
        display: block;
        width: 16px;
        height: 16px;
        background: white;
        border-radius: 50%;
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        transition: all .2s;
        box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.4);
    }
    /* checked shape */
    input[type="radio"]:not(:checked) + label:after,
    input[type="radio"]:checked + label:after {
        display: block;
        background-color: $theme_grey_light;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        content: '';
        position: absolute;
        top: 7px;
        left: 7px;
        transition: all .2s;
    }
/* disabled radio */
input[type="radio"]:disabled {}
    input[type="radio"]:disabled + label {
        color: #aaa;
    }
    input[type="radio"]:disabled + label:before {
        opacity: .4;
    }
    input[type="radio"]:disabled + label:after {
        opacity: .4;
    }
/* checked mark changes */
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}
input[type="radio"]:not(:checked) + label:hover:after,
input[type="radio"]:checked + label:after {
    opacity: 1;
}
input[type="radio"]:checked + label:after {}

/* checkboxes */
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
    position: relative;
    display: block;
    padding-left: 30px;
    cursor: pointer;
}
    /* shape */
    input[type="checkbox"]:not(:checked) + label:before,
    input[type="checkbox"]:checked + label:before {
        display: block;
        width: 16px;
        height: 16px;
        background: white;
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        transition: all .2s;
        box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.4);
    }
    /* checked shape */
    input[type="checkbox"]:not(:checked) + label:after,
    input[type="checkbox"]:checked + label:after {
        display: block;
        background-color: $theme_grey_light;
        width: 8px;
        height: 8px;
        content: '';
        position: absolute;
        top: 7px;
        left: 7px;
        transition: all .2s;
    }
/* disabled checkbox */
input[type="checkbox"]:disabled {}
    input[type="checkbox"]:disabled + label {
        color: #aaa;
    }
    input[type="checkbox"]:disabled + label:before {
        opacity: .4;
    }
    input[type="checkbox"]:disabled + label:after {
        opacity: .4;
    }
/* checked mark changes */
input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}
input[type="checkbox"]:not(:checked) + label:hover:after,
input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
input[type="checkbox"]:checked + label:after {}

/**
 * Tables
 */
table {
  margin: 20px 0;
  border-top: 1px solid $theme_grey_lighter;
  border-left: 1px solid $theme_grey_lighter;
  td, th {
    font-size: 160%;
    padding: 5px 10px;
    border-bottom: 1px solid $theme_grey_lighter;
    border-right: 1px solid $theme_grey_lighter;
  }
}
