/*********************
* General
**********************/
body.node-type-video #admin-menu, #block-block-2 {
  display: none;
}
body.admin-menu.node-type-video {
  margin-top: 0 !important;
}

div.messages.status, body.front #content-header .tabs { /* DEV */
  display: none;
}

body {
  &.cke_editable, &.page-references-dialog {
    background: none;
  }
  &.admin-menu {
    margin-top: 30px !important;
  }
}

.col-container {
  overflow: hidden;
  > .col {
    float: left;
  }
  > .col-1 {
    width: 8.333%;
  }
  > .col-2 {
    width: 16.666%;
  }
  > .col-3 {
    width: 25%;
  }
  > .col-4 {
    width: 33.333%;
  }
  > .col-6 {
    width: 50%;
  }
  > .col-8 {
    width: 66.666%;
  }
  > .col-9 {
    width: 75%;
  }
  > .col-12 {
    width: 100%;
  }
}

#page {
  position: relative;
  z-index: 1;
}

/*********************
* Site Header
**********************/
.region-header-top {
  position: relative;
  height: 36px;
  body.header-fixed & {
    display: none;
  }
  @media screen and (max-width: $mobile_menu_min_width) {
    display: none;
  }
}

/* language selector */
#block-locale-language {
  position: absolute;
  top: 12px;
  right: 0;
  body.header-fixed & {
    display: none;
  }
  @media screen and (max-width: $mediumbig_screen_width) {
    right: $page_horizontal_padding;
  }
  @media screen and (max-width: $mobile_menu_min_width) {
    display: none;
  }
}
.language-switcher-locale-url {
  li {
    display: inline;
    margin-left: 5px;
    a {
      font-size: 120%;
      color: $theme_grey_darker;
      transition: all .3s ease;
      &:hover {
        color: black;
      }
      &.active {
        display: none;
      }
    }
  }
}

#block-bcnencomu-social_networks_links {
  position: absolute;
  top: 7px;
  right: 80px;
  @media screen and (max-width: $mobile_menu_min_width) {
    display: none;
  }
}

body.header-fixed {
  padding-top: $header-fixed-height;
}
@media screen and (max-width: $mobile_menu_min_width) {
  body {
    padding-top: $header-fixed-height;
  }
}
header[role="banner"] {
  position: relative;
  z-index: 10;
  height: $header-height;
  background-color: white;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
  body.header-fixed & {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: $header-fixed-height;
  }
  @media screen and (max-width: $mobile_menu_min_width) {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: $header-fixed-height;
  }
  #page.page-without-navigation & {
    height: 115px;
  }
  #page.mapa-del-canvi & {
    display: none;
  }
  > .inner {
    @extend %wrapper;
    @extend %below-wrapper-horizontal-air;
    @extend %clearfix;
    position: relative;
    height: 100%;
  }
}

#site-logo {
  position: absolute;
  bottom: 10px;
  left: $page_horizontal_padding;
  width: 170px;
  margin-bottom: 0;
  z-index: 20;
  body.header-fixed & {
    width: 110px;
  }
  @media screen and (max-width: $mobile_menu_min_width) {
    width: 110px;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.region-header {}

#block-search-form {
  position: absolute;
  bottom: 16px;
  right: 10px;
  z-index: 2;
  width: 25px;
  height: 35px;
  transition: all 1s ease-in-out;
  @media screen and (max-width: $mobile_menu_min_width) {
    display: none;
  }
  form {
    width: 300px;
    padding-top: 10px;
    float: right;
  }
  input[type="text"] {
    display: none;
    width: 100%;
    padding: 3px 25px 3px 9px;
    border: none;
    font-size: 160%;
  }
  input[type="submit"], [data-action="close"] {
    @include iconize();
    position: absolute;
    top: 10px;
    right: 3px;
    min-width: 0;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    text-indent: -500em;
  }
  [data-action="close"] {
    display: none;
    background-position: 0 -50px;
  }
  &.opened {
    width: 100%;
    padding-left: 250px;
    background: white;
    input[type="text"] {
      display: block;
    }
    input[type="submit"] {
      display: none;
    }
    [data-action="close"] {
      display: block;
    }
  }
}

/* secondary menu */
#block-menu-menu-secondary-menu {
  float: left;
  @media screen and (max-width: $mobile_menu_min_width) {
    display: none;
  }
  nav > ul.menu {
    @extend %clearfix;
    > li {
      float: left;
      position: relative;
      margin-right: 20px;
      a {
        display: block;
        font-size: 1.2em;
        padding: 12px 0;
        text-align: center;
        color: #666;
        transition: all 0.3s ease-in-out;
      }
      &.active-trail a,
      & a.active,
      & a:hover {
        color: black;
      }
      ul {
        display: none;
      }
    }
  }
}

/* main menu */
#block-system-main-menu {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 210px;
  @media screen and (max-width: $mobile_menu_min_width) {
    display: none;
  }
  nav {
    ul.menu {
      @extend %clearfix;
      margin: 0;
      padding: 0;
      li {
        position: relative;
        float: left;
        margin-right: 12px;
        list-style-type: none;
        list-style-image: none;
        @media screen and (max-width: $huge_screen_width) {
          margin-right: 7px;
        }
        &:hover {
          .menu {
            display: block;
          }
        }
        &.active-trail:hover {
          .menu {
            display: none;
          }
        }
        body.header-fixed &.active-trail:hover {
          .menu {
            display: block;
            .menu {
              display: none;
            }
          }
        }
        a {
          display: block;
          color: black;
          font-size: 180%;
          font-weight: bold;
          padding: 17px 16px;
          transition: all .3s ease;
          &:hover {
            color: $theme_red;
          }
        }
        &.active-trail a, a.active, .menu li a.active {
          color: $theme_red;
        }
        .menu {
          display: none;
          position: absolute;
          top: 55px;
          left: 0;
          padding: 0 0 10px;
          width: 250px;
          background: white;
          box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.5);
          li {
            float: none;
            padding: 0;
            line-height: 1.25;
            a {
              color: $theme_grey_dark;
              font-size: 160%;
              font-weight: normal;
              padding: 7px 16px;
              &:hover {
                color: $theme_red;
              }
            }
            .menu {
              display: none;
            }
          }
        }
      }
    }
  }
}

/* responsive menu */
.mobile-menu {
  z-index: 2;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  @media screen and (min-width: $mobile_menu_min_width) {
    display: none;
  }
  &.opened {
    right: 0;
    .menus-wrapper {
      opacity: 1;
    }
  }
  [data-action="open-mobile-menu"] {
    @include hide-text;
    position: fixed;
    top: 0;
    width: 50px;
    height: 50px;
    right: 0;
    outline: none;
    z-index: 2;
    background: none;
    border: none;
    transition: all .5s ease;
    &:before {
      @include iconize(-200px, 0, 2, 2);
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
    &:after {
      content: " ";
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
      width: 30px;
      height: 30px;
      background-color: white;
    }
  }
  &.opened [data-action="open-mobile-menu"] {
    &:before {
      background-position: -200px -50px;
    }
  }
  .menus-wrapper {
    opacity: 0;
    overflow-y: scroll;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 1;
    background: white;
    box-shadow: -5px 0 50px 0 rgba(0, 0, 0, 0.31);
    transition: all 1s ease;
    .home-link {
      display: block;
      font-size: 180%;
      font-weight: bold;
      padding: 12px 10px;
      color: black;
      border-bottom: 1px solid $theme_grey_light;
      &.active {
        color: $theme_red;
      }
    }
    nav {
      ul.menu {
        li {
          list-style-type: none;
          list-style-image: none;
          border-bottom: 1px solid $theme_grey_light;
          ul {
            display: none;
          }
          &.active-trail {
            ul {
              display: block;
            }
            > a {
              color: $theme_red;
            }
          }
          a {
            display: block;
            font-size: 180%;
            padding: 12px 10px;
            color: black;
            font-weight: bold;
            &.active {
              color: $theme_red;
            }
          }
          ul.menu {
            background-color: $theme_grey_lightest;
            border-top: 1px solid $theme_grey_light;
            padding: 5px 0 20px;
            li {
              border-bottom: none;
              a {
                font-size: 160%;
                font-weight: normal;
                color: $theme_grey_darker;
                padding: 6px 10px;
                &.active {
                  color: $theme_red;
                }
              }
              ul.menu {
                border-top: none;
                padding: 5px 0 0 20px;
              }
            }
          }
        }
      }
      & + nav {
        ul.menu {
          padding: 10px 0;
          li {
            border-bottom: none;
            a {
              font-size: 160%;
              font-weight: normal;
              color: $theme_grey_darker;
              padding: 6px 10px;
            }
          }
        }
      }
    }
    .social-network-list {
      padding: 10px 5px;
      border-top: 1px solid $theme_grey_light;
    }
    .language-switcher-locale-url {
      padding: 10px 0;
      border-top: 1px solid $theme_grey_light;
    }
  }
}

/* special header block */
#block-block-5 {
  position: absolute;
  top: 0;
  right: 0;
  width: 340px;
  height: 115px;
  border-left: 1px solid white;
  > .content {
    height: 100%;
  }
  p {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 0;
    height: 100%;
  }
  a {
    display: block;
    height: 100%;
    padding: 0;
    background: #63779b;
  }
}

/*********************
* Pages and Sections
**********************/
.region {}

a[data-action="go-back"] {
  margin-bottom: 20px;
  padding: 0;
  background: none;
  text-align: left;
  color: $theme_red;
  font-weight: normal;
  font-size: 160%;
  border: none;
  &:before {
    content: "<";
    margin-right: 10px;
  }
  &:hover {
    background-color: transparent;
    color: $theme_red;
    text-decoration: underline;
  }
}

/* social links */
.social-network-list {
  overflow: hidden;
  li {
    float: left;
    margin-left: 12px;
    &:first-child {
      margin-left: 0;
    }
    a {
      display: block;
      font-size: 140%;
      text-align: center;
      color: $theme_grey_light;
      padding-top: .3em;
      transition: all .3s ease;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      &:hover {
        opacity: .6;
      }
      .label {
        display: none;
      }
    }
  }
}

/* share links */
.share-links {
  position: relative;
  float: right;
  #page.mapa-del-canvi & {
    position: absolute;
    float: none;
    bottom: 0;
    right: 0;
  }
  ul {
    @extend %clearfix;
    li {
      float: left;
      margin-left: 6px;
      &:first-child {
        margin-left: 0;
      }
      a {
        display: block;
        font-size: 140%;
        text-align: center;
        color: white;
        padding-top: .4em;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: $theme_red;
        &:before {
          color: white;
        }
        .label {
          display: none;
        }
      }
    }
  }
}

/* main */
#main {
  position: relative;
  z-index: 9;
}

/* en comu page */
#page.encomu-map-page {
  #main {
    width: 100%;
  }
  #content {
    margin-left: 0;
    padding: 0;
  }
  article.node {
    > header h1, .share-links {
      display: none;
    }
    .body iframe {
      width: 100%;
      height: 600px;
      margin: 0;
    }
  }
}

// Highlighted
#highlighted {
  @extend %wrapper;
  border-left: 1px solid $theme_grey_lighter;
  border-right: 1px solid $theme_grey_lighter;
}
.region-highlighted {
  // main menu 2nd level
  .menu-block-wrapper {
    @extend %wrapper;
    @media screen and (max-width: $page_inner_maxwidth) {
      padding: 0;
    }
    @media screen and (max-width: $mobile_menu_min_width) {
      display: none;
    }
    ul.menu {
      display: flex;
      li {
        flex-grow: 1;
        border-left: 1px solid white;
        &:first-child {
          border-left: none;
        }
        &.active-trail, &.active, &:hover {
          a {
            color: $theme_red;
            background: white;
          }
        }
        &.active-trail > ul.menu {
          display: flex;
        }
        a {
          display: block;
          font-size: 160%;
          padding: 13px;
          text-align: center;
          background: $theme_grey_lighter;
          color: $theme_grey_darker;
        }
        ul.menu {
          display: none;
        }
      }
    }
  }
}

#content {
  @extend %wrapper;
  border-left: 1px solid $theme_grey_lighter;
  border-right: 1px solid $theme_grey_lighter;
  min-height: 620px;
  padding-bottom: 50px;
  body.sidebar-first & {
    position: relative;
  }

  /* sidebar first */
  #sidebar-first {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 20%;
    @media screen and (max-width: $bigger_screen_width) {
      left: 5px;
      width: 18%;
    }
    @media screen and (max-width: $mobile_menu_min_width) {
      display: none;
    }
    ul.menu {
      li {
        margin-bottom: 10px;
        &.active-trail {
          > a {
            color: $theme_red;
          }
        }
        a {
          display: block;
          font-size: 160%;
          color: $theme_grey_light;
          &:hover, &.active {
            color: $theme_red;
          }
        }
        ul {
          padding: 10px 0 0 30px;
        }
      }
    }
  }

  // page programa advanced search
  body.page-programa-navega-cerca & {
    #content-inner {
      max-width: none;
    }
  }

  // forms inside the content
  form {
    @extend %narrowbody;
  }
}

/* region content top */
.region-content-top {}

/* region content */
.region-content {
  #page.with-sidebar & {
    @media screen and (min-width: $mobile_menu_min_width) {
      min-height: 620px;
    }
  }
  > .inner {
    padding: 0 $page_horizontal_padding;
  }

  /* content region block menu */
  .block-menu-block {
    margin: 20px 0;
    ul.menu {
      overflow: hidden;
      li {
        display: table;
        float: left;
        width: 33%;
        height: 117px;
        margin: 0 .5% 5px 0;
        border: 1px solid $theme_grey_lighter;
        overflow: hidden;
        &:hover a {
          color: $theme_red;
        }
        a {
          display: table-cell;
          width: 100%;
          height: 100%;
          vertical-align: middle;
          color: #6c6c6c;
          font-size: 200%;
          text-align: center;
          font-weight: 500;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

/* Press block */
#block-block-3 {
  padding-top: 40px;
  > .content {
    @extend %narrowbody;
  }
}

/* block views */
.block-views {
  > header {
    padding-top: 10px;
    h1 {
      font-size: 240%;
      margin-bottom: .4em;
    }
  }
}
// special blocks
#page.page-relatem-canvi, #page.page-internacional {
  /* title blocks */
  #block-block-7, #block-block-8 {
    max-width: 600px;
    margin: 0 auto;
  }
  // hide category terms blocks
  #block-views-categories_terms_list-block {
    display: none;
  }
}

// masonry views
.view.with-masonry {
  padding-bottom: 60px;
  .view-content {
    height: 100%;
  }
}

/* the main title */
#content-header h1,
article > header h1,
body.page-taxonomy-term #content-header h1,
#block-block-3 > header h1 {
  @extend %narrowbody;
  font-size: 420%;
  font-weight: 900;
  margin-bottom: .6em;
  @media screen and (max-width: $mediumbig_screen_width) {
    font-size: 320%;
  }
}
#content-header {
  padding-top: 30px;
}

/* categories terms list */
.view-categories-terms-list {
  padding-top: 40px;
  padding-left: $page_horizontal_padding;
  padding-right: $page_horizontal_padding;
  margin-bottom: 10px;
  .views-row {
    @extend %tag;
    .all a {
      background: $theme_red;
      &.active {
        display: none;
      }
    }
  }
}

/*** nodes ***/
/* typical detail */
article.node {
  padding: 30px 0;

  // body
  .body, .field-type-text-long, .field-type-text-with-summary {
    // narrow tag elements
    p, ul, ol, h2, h3, h4, h5, h6 {
      @extend %narrowbody;
    }

    p {
      a.btn {
        font-size: 100%;
      }
    }

    h2 {
      font-size: 300%;
      line-height: 1.2;
      margin-bottom: .5em;
      padding-top: .5em;
      &:first-child {
        padding-top: 0;
      }
      @media screen and (max-width: $medium_screen_width) {
        font-size: 240%;
      }
    }

    h3 {
      font-size: 180%;
      font-weight: 900;
      line-height: 1.33;
      margin-bottom: .5em;
      padding-top: .5em;
      &:first-child {
        padding-top: 0;
      }
      @media screen and (max-width: $medium_screen_width) {
        font-size: 160%;
      }
    }

    a {
      color: black;
      border-bottom: 1px solid $theme_red;
      &:hover {
        color: $theme_red;
        text-decoration: none;
      }

      &.btn {
        color: $theme_red;
        text-decoration: none;
        &:before {
          @include iconize(-100px, -175px);
          content: " ";
          float: left;
          margin-right: 5px;
        }
      }

      &[data-action] {
        max-width: 200px;
      }
    }

    img, div img, p img {
      @extend %widerbody;
      margin-bottom: 30px;
      @media screen and (max-width: $page_inner_maxwidth) {
        padding: 0;
      }
      @media screen and (max-width: $big_screen_width) {
        max-width: 100%;
      }
    }

    iframe {
      @extend %widerbody;
      margin-bottom: 30px;
      #page.calendar-page & {
        max-width: none;
      }
    }

    li {
      margin: 0 0 .7em;
      padding-left: 0;
      font-size: $base-font-size;
      line-height: $base-line-height;
      @media screen and (max-width: $medium_screen_width) {
        font-size: $base-font-size-smaller;
      }
      p {
        font-size: 100%;
        margin-bottom: 0;
      }
      ul {
        padding: 5px 0 0 20px;
      }
      li {
        font-size: 100%;
      }
    }
    ul {
      list-style-type: none;
      margin-bottom: 20px;
      padding-left: 18px;
      li {
        &:before {
          content: '—';
          margin-left: -20px;
          margin-right: 7px;
        }
      }
    }
    ol {
      list-style-type: decimal;
      margin-bottom: 20px;
      padding-left: 18px;
    }

    blockquote {
      @extend %widerbody;
      margin-top: 30px;
      margin-bottom: 30px;
      p {
        max-width: 100%;
        font-size: 240%;
        line-height: 1.4;
      }
    }

    // Graph bars
    .graph.bar {
      position: relative;
      display: block;
      margin: 20px auto 20px;
      width: 100%;
      max-width: 600px;
      height: 60px;
      background: white;
      border: 2px solid $theme_red;
      .value {
        display: block;
        height: 100%;
        background: rgb(230, 92, 86);
        background: rgba(230, 92, 86, .7);
      }
      .info {
        position: absolute;
        top: 4px;
        right: 4px;
        display: block;
        font-size: 2.2em;
        font-weight: bold;
        color: rgb(230, 92, 86);
        color: rgba(230, 92, 86, .4);
      }
    }
  }

  // image gallery
  .image-gallery {
    @extend %widerbody;
    margin-top: 30px;
    margin-bottom: 30px;
    .full-image {
      margin: 0 0 10px;
      background: white;
      border: 1px solid $theme_grey_light;
      img {
        width: 100%;
        display: block;
      }
    }
    .thumb-list {
      margin: 0 0 10px;
      overflow: hidden;
      .thumb {
        float: left;
        width: 139px;
        margin-right: 10px;
        cursor: pointer;
        border: 1px solid $theme_grey_light;
      }
    }
  }

  // tables
  table {
    margin: 0 0 30px;
    border-left: 1px solid $theme_red;
    border-bottom: 1px solid $theme_red;
    th, td {
      font-size: 1.2em;
      padding: .6em .8em;
      border-right: 1px solid $theme_red;
      p {
        font-size: 1em;
        margin-bottom: 0;
      }
    }
    th {
      text-align: center;
      background: $theme_red;
      color: white;
      font-weight: 700;
    }
  }

  // node navigation
  .node-navigation {
    margin-top: 60px;
    ul {
      @extend %clearfix;
      li {
        float: left;
        width: 50%;
        height: 80px;
        display: table;
        &[data-dir="next"] {
          float: right;
          a {
            text-align: right;
            padding-left: 0;
            padding-right: 30px;
            &:after {
              left: auto;
              right: -6px;
              background-position: -75px 0;
            }
          }
        }
        a {
          position: relative;
          display: table-cell;
          vertical-align: middle;
          height: 3.3em;
          padding-left: 30px;
          font-size: 200%;
          color: $theme_grey_dark;
          font-weight: bold;
          text-align: left;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $theme_red;
          }
          &:after {
            @include iconize(-50px, 0);
            content: " ";
            position: absolute;
            top: 28px;
            left: -6px;
          }
        }
      }
    }
  }

  // Mapa del canvi detail
  #page.mapa-del-canvi & {
    > .content {
      position: relative;
    }
    .logo-bcomu {
      position: absolute;
      top: 0;
      right: 0;
      width: 150px;
      display: block;
    }
    .body {
      p {
        font-size: 180%;
      }
      img {
        margin: 0;
      }
    }
  }

  // cookies table
  &#node-161 table {
    position: relative;
    left: -26%;
  }

  // page detail
  &.node-page {
    body.front & {
      display: none;
    }
    > header {
      .info {
        @extend %clearfix;
        padding: 10px 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-bottom: 15px;
        .field-type-taxonomy-term-reference {
          float: left;
          font-size: 180%;
          margin-right: 15px;
        }
      }
    }
  }

  // post-like detail (blog post, press article...)
  &.node-post-like {
    > header {
      @extend %widerbody;
      margin-bottom: 30px;

      time, .hashtag {
        float: left;
        margin: 0 15px 5px 0;
        font-size: 180%;
        line-height: 1;
        color: $theme_grey_dark;
      }
      h1 {
        clear: both;
        max-width: 100%;
        margin-bottom: .3em;
      }
      .info {
        @extend %clearfix;
        padding: 10px 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-bottom: 15px;
        .categories {
          @extend %clearfix;
          float: left;
          .field-type-taxonomy-term-reference, .field-type-entityreference {
            float: left;
            font-size: 180%;
            color: $theme_red;
            &:before {
              content: "|";
              float: left;
              padding: 0 8px;
              color: $theme_red;
            }
            &:first-child:before {
              display: none;
            }
            .field-label {
              font-weight: normal;
            }
            .field-items {
              float: left;
            }
            a {
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .lead {
        font-size: 240%;
        line-height: 1.4;
        font-weight: normal;
        margin-bottom: 1em;
        @media screen and (max-width: $mediumbig_screen_width) {
          font-size: 180%;
        }
      }
    }
    .bottom-info {
      @extend %clearfix;
      @extend %widerbody;
      margin-bottom: 30px;
      padding: 10px 0;
      border-top: 1px solid $theme_grey_light;
      border-bottom: 1px solid $theme_grey_light;

      // tags
      .field-name-field-tags {
        float: left;
        margin-right: 15px;
        .field-items {
          @extend %clearfix;
          .field-item {
            float: left;
            margin-right: 10px;
            font-size: 160%;
            a {
              color: $theme_grey_light;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  // candidacy person and office (nomenament) detail
  &.node-candidacy-person, &.node-office {
    @extend %narrowbody;

    > header {
      h1 {
        font-size: 300%;
        font-weight: bold;
      }
    }

    .field-name-field-office-bcomu-area {
      font-size: 180%;
      font-weight: bold;
      margin-bottom: .2em;
    }

    .field-name-field-office-title {
      font-size: 160%;
      margin-bottom: 1.5em;
    }

    .field-name-field-candidacy-photo, .field-name-field-image  {
      .field-item {
        width: 188px;
        margin-bottom: 30px;
        img {
          width: 100%;
        }
      }
    }

    .field-label {
      font-size: 180%;
      font-weight: 900;
      margin-bottom: .5em;
    }

    .field-name-field-cv {
      font-size: 160%;
    }

    [data-action="go-back"] {
      margin-top: 30px;
    }
  }

  // espai (old eix tematic) detail
  &.node-eix-tematic {
    @extend %narrowbody;

    .field {
      margin-top: 20px;
      .field-label {
        font-size: 180%;
        font-weight: 900;
        line-height: 1.33;
        margin-bottom: .5em;
      }
    }

    .field-name-field-grup-email, .field-name-field-grup-web, .field-name-field-grup-twitter, .field-name-field-document {
      margin-top: 5px;
      .field-items {
        font-size: 160%;
      }
    }

    .field-name-field-document {

    }

    .field-name-field-eix-coordi {
      .field-items {
        font-size: 160%;
      }
    }
  }

  // event detail
  &.node-event {
    > .content {
      @extend %narrowbody;
    }
    .field {
      margin: 0 0 .5em;
      font-size: 170%;
      line-height: 1.25;
      p {
        margin: 0;
        font-size: 1em;
        line-height: 1;
      }
    }
  }

  // video detail
  &.node-video {
    .video {
      @extend %widerbody;
      margin-bottom: 20px;
    }
  }
}
/**************/

/* Home: carroussel */
#block-views-nodequeue_1-block {}
.view-nodequeue-1 {
  @extend %wrapper;
  @media screen and (max-width: $page_inner_maxwidth) {
    padding: 0;
  }
  .view-content {
    .node-slider {
      position: relative;
      > .image {
        img {
          width: 100%;
        }
      }
      > .video {
        iframe {
          width: 100%;
        }
      }
    }
  }
}

/* Home Information Channels (Top region) */
#block-views-nodequeue_2-block {
  padding: 30px 0;
  border-top: 1px solid $theme_grey_light;
  border-bottom: 1px solid $theme_grey_light;
  @media screen and (max-width: $big_screen_width) {
    padding-bottom: 0;
  }
}
// generic Information Channels list
.view-nodequeue-2, .view-nodequeue-5 {
  .region-content-top & .view-content {
    @extend %wrapper;
    @include simple-column-container;
    .views-row {
      @include simple-column(4, 2%);
      padding-left: $page_horizontal_padding;
      @media screen and (max-width: $big_screen_width) {
        @include simple-column(2, 2%);
        margin-bottom: 30px;
      }
      @media screen and (max-width: $small_screen_width) {
        @include simple-column(1, 0);
      }
    }
  }
  .node {
    width: 100%;
    height: 50px;
    position: relative;
    padding-left: 65px;
    a {
      color: black;
      &:hover {
        color: $theme_red;
      }
    }
    h2 {
      font-size: 140%;
      font-weight: bold;
      word-break: break-word;
      margin-bottom: .1em;
    }
    .summary {
      p {
        font-size: 140%;
        line-height: 1.25;
        margin-bottom: 0;
      }
    }
    .image {
      position: absolute;
      top: -5px;
      left: -5px;
      width: 62px;
      img {
        image-rendering: crisp-edges;
      }
    }
  }
}

/*** Home Content bottom ***/
.region-content-bottom {
  @extend %wrapper;
  padding-left: $page_horizontal_padding;
  padding-right: $page_horizontal_padding;
  #page.has-agenda & {
    @extend %clearfix;
  }
}
/* home highlighted agenda */
#block-views-highlighted_agenda-agenda_block {
  float: right;
  width: 33.33%;
  padding-left: 10px;
  @media screen and (max-width: $mediumbig_screen_width) {
    @include one-columnize;
    max-width: 400px;
  }
}
/* home posts */
#block-views-frontpage-block_1 {
  #page.has-agenda & {
    float: left;
    width: 66.66%;
    @media screen and (max-width: $mediumbig_screen_width) {
      @include one-columnize;
    }
  }
}
.view-frontpage {
  .node-teaser {
    width: 50%;
    @media screen and (max-width: $small_screen_width) {
      width: 100%;
    }
  }
}
.node-teaser {
  position: relative;
  width: 33.33%;
  padding: 0 10px;
  @media screen and (max-width: $big_screen_width) {
    width: 50%;
  }
  @media screen and (max-width: $small_screen_width) {
    width: 100%;
  }
  > .content {
    padding: 5px 0 30px;
    border-top: 1px solid $theme_grey_light;
  }
  &.with-external-link {
    > .content {
      &:before {
        @include iconize(-125px, -175px, 1, 1);
        content: "";
        position: absolute;
        top: 5px;
        right: 10px;
      }
      h2 {
        padding-right: 23px;
      }
    }
  }
  > .content {
    .field-name-field-post-category, .field-name-field-press-category {
      font-size: 160%;
      color: $theme_red;
    }
    .image {
      margin-bottom: 10px;
      img {
        width: 100%;
      }

    }
    a {
      color: black;
      &:hover {
        color: $theme_red;
      }
    }
    h2 {
      font-size: 180%;
      font-weight: bold;
      margin-bottom: .4em;
      word-break: break-word;
    }
    .summary {
      p {
        margin-bottom: 0;
      }
    }
  }

  // video teaser
  &.node-video {
    > .image {
      position: relative;
      margin-bottom: 10px;
      .icon-play {
        @include iconize(-125px, 0, 3, 3);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -37px;
        margin-top: -37px;
      }
    }
  }
}

// Information Channels: Full page
#block-views-nodequeue_2-block_2 {}
.view-display-id-block_2 {
  .view-content {
    @extend %narrowbody;
    @include simple-column-container;
    .views-row {
      @include simple-column(2, 2%);
      margin-bottom: 40px;
      @media screen and (max-width: $micro_screen_width) {
        @include simple-column(1, 0);
      }
    }
  }
}

// SomComuns Information Channels
#block-views-nodequeue_5-block {}
.view-nodequeue-5 {
  .view-content {
    @extend %narrowbody;
    .views-row {
      margin-bottom: 40px;
    }
  }
}

// Search form page
form.search-form {
  padding: 40px 0;
  label {
    display: none;
  }
}

// Related news block
#block-views-related_posts-block {
  padding: 0 $page_horizontal_padding;
}
.view-related-posts {
  > .view-content {
    > .item-list {
      > ul {
        @include simple-column-container;
      }
    }
  }
  .views-row {
    @include simple-column(3, 2%);
    @media screen and (max-width: $mediumbig_screen_width) {
      @include simple-column(1, 0);
      max-width: 480px;
    }
    .node-teaser {
      width: 100%;
    }
  }
}

// Axis news block
#block-views-posts_eix-block {
  padding: 0 $page_horizontal_padding;
}
.view-posts-eix {
  > .view-content {
    > .item-list {
      > ul {
        @include simple-column-container;
      }
    }
  }
  .views-row {
    @include simple-column(3, 2%);
  }
}

/* Calendar agenda */
#block-views-calendar_agenda-agenda_block {}
.view-display-id-agenda_block {
  .view-empty {
    padding: 15px 0;
  }
  .views-row {
    @extend %clearfix;
    border-top: 1px solid black;
    &.views-row-odd {
      .date-group {
        background-color: $theme_grey_dark;
      }
    }
    .date-group { /* this div is created through script.js */
      float: left;
      width: 25%;
      height: 97px;
      overflow: hidden;
      padding: 10px 0;
      text-align: center;
      background-color: rgba($theme_grey_dark, .75);
      color: white;
    }
    .views-field-field-date-1 {
      font-weight: 900;
      font-size: 420%;
      line-height: 1;
    }
    .views-field-field-date-2 {
      text-transform: uppercase;
      font-size: 160%;
      line-height: 1;
      margin-bottom: .2em;
    }
    .views-field-field-date {
      font-size: 160%;
      line-height: 1;
      font-weight: bold;
    }
    > .content { /* this div is created through script.js */
      float: left;
      width: 75%;
      height: 97px;
      overflow: hidden;
      padding: 15px 20px;
    }
    .views-field-field-venue, .views-field-field-transport-tube {
      font-size: 160%;
      line-height: 1.25;
      color: $theme_grey_light;
    }
    .views-field-field-venue {
      &:before {
        content: '#';
        margin-right: 3px;
      }
    }
    .views-field-title-field {
      margin-top: .1em;
      font-size: 160%;
      line-height: 1.25;
    }
  }
  .view-footer {
    border-top: 1px solid black;
    a {
      display: block;
      font-size: 160%;
      padding: 10px 0;
    }
  }
}

/* candidacies list */
//block-views-candidacies2-block_3
[id^="block-views-candidacies"] {
  @extend %narrowbody;
}
.view-candidacies-list {
  margin-bottom: 50px;
  .item-list {
    > h3 {
      font-size: 180%;
      font-weight: 900;
      margin-bottom: .5em;
    }
    > ol, > ul {
      @include simple-column-container;
      list-style: none;
    }
    .views-row {
      @include simple-column(3, 3%);
      height: 250px;
      @media screen and (max-width: $small_screen_width) {
        @include simple-column(2, 3%);
        height: 55vw;
      }
      @media screen and (max-width: $micro_screen_width) {
        @include simple-column(1, 0);
        height: auto;
        margin-bottom: 20px;
      }
      &:hover {
        .views-field-field-candidacy-photo {
          a:before {
            opacity: 0;
          }
        }
      }
      .views-field-field-candidacy-photo {
        margin-bottom: 5px;
        a {
          display: block;
          position: relative;
          &:before {
            position: absolute;
            content: ' ';
            width: 100%;
            height: 100%;
            mix-blend-mode: screen;
            background-color: $theme_red;
            transition: all .3s ease;
          }
          img {
            width: 100%;
          }
        }
      }
      .views-field-title {
        font-size: 160%;
        line-height: 1.25;
        font-weight: bold;
        a {
          color: black;
        }
      }
    }
  }
}

/* offices list */
.view-offices-list {
  @extend %narrowbody;
  .item-list {
    > h3 {
      font-size: 300%;
      margin-bottom: .5em;
    }
    > ul {
      @include simple-column-container;
    }
    .views-row {
      @include simple-column(3, 3%);
      height: 100px;
      @media screen and (max-width: $small_screen_width) {
        @include simple-column(2, 3%);
        height: 20vw;
      }
      @media screen and (max-width: $micro_screen_width) {
        @include simple-column(1, 0);
        height: auto;
        margin-bottom: 10px;
      }
      .views-field-title {
        font-size: 160%;
        font-weight: bold;
        margin-bottom: .3em;
      }
      .views-field-field-office-title {
        font-size: 160%;
        line-height: 1.5;
      }
    }
  }
}

// documents view
.view-documents {
  @extend %narrowbody;
  > .view-content {
    > .item-list {
      > h3 {
        font-size: 300%;
        line-height: 1.2;
        margin-bottom: .5em;
      }
      > ul {
        margin-bottom: 40px;
      }
    }
  }

  .views-row {
    margin-bottom: 20px;
    .views-field-title {
      font-size: 180%;
      font-weight: 900;
      line-height: 1.33;
      margin-bottom: 0;
    }

    .views-field-body {
      p {
        margin-bottom: 0;
      }
    }

    .views-field-field-document {
      margin: 5px 0;
      a {
        font-size: 160%;
        color: $theme_red;
        line-height: 2;
        &:before {
          @include iconize(-100px, -175px);
          content: " ";
          float: left;
          margin-right: 5px;
        }
      }
    }
  }
}

// subscription form
#webform-client-form-294 {
  .webform-component--legal {
    p {
      font-size: 120%;
      line-height: 1.33;
      color: $theme_grey_darker;
      a {
        color: $theme_grey_darker;
        text-decoration: underline;
      }
    }
  }
}

/* campaign agenda page */
.view-display-id-agenda_page {
  .view-grouping {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid $theme_red;
    > .view-grouping-header {
      font-size: 270%;
      color: #8ea7bf;
      margin-bottom: 1em;
    }
    > .view-grouping-content {
      > .item-list {
        h3 {
          font-size: 180%;
          font-weight: normal;
          text-transform: uppercase;
          color: $theme_red;
          margin-bottom: 1em;
        }
      }
    }
    .views-row {
      margin-bottom: 20px;
      font-size: 170%;
      line-height: 1.25;
      overflow: hidden;
      .views-field-field-date {
        float: left;
        font-size: 120%;
        margin: 0 20px 40px 0;
      }
      .views-field-title-field {
        font-weight: bold;
      }
    }
  }
  &.view-campaign-agenda {
    .view-filters {
      .form-item-field-date-value-1-value-month,
      .form-item-field-date-value-1-value-year {
        display: none;
      }
    }
  }
}

/* calendar */
.view-event-calendar {
  margin-bottom: 40px;
  > header {
    > h1 {
      font-size: 100%;
    }
  }
}
.calendar-calendar .month-view .full .inner .monthview, .calendar-calendar .week-view .full .inner .weekview, .calendar-calendar .day-view .full .inner .dayview {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.calendar-calendar .week-view .full div.single-day div.weekview, .calendar-calendar .day-view .full div.single-day div.dayview {
  background: #666;
  border: 1px solid white;
  padding: 3px;
  color: white;
  position: relative;
  font-family: Verdana, Arial, sans-serif;
}
.calendar-calendar .day-view td .stripe, .calendar-calendar .month-view .full td .stripe, .calendar-calendar .week-view .full td .stripe {
  position: absolute;
  z-index: 1;
  height: 100%;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.calendar-calendar .week-view div.single-day .view-item .contents, .calendar-calendar .day-view div.single-day .view-item .contents {
  position: relative;
  z-index: 2;
}
.calendar-calendar div.calendar {
  font-size: 1em;
}
.calendar-calendar td .views-field {
  margin-bottom: .2em;
  font-size: 10px;
  line-height: 1.15;
}
.calendar-calendar td a {
  color: white;
  font-weight: normal;
}
.calendar-calendar td .views-field-edit-node {
  position: absolute;
  top: 2px;
  right: 2px;
}
.calendar-calendar td .views-field-edit-node a {
  text-decoration: underline;
}
.view .date-nav-wrapper .date-heading h3 {
  font-size: 2.4em;
}
.view .date-nav-wrapper .date-prev, .view .date-nav-wrapper .date-next {
  border-radius: 0;
  padding: .3em .5em;
  background: none;
  @media screen and (max-width: $big_screen_width) {
    position: static;
    text-align: center;
  }
  a {
    margin: 0;
    font-size: 1.6em;
    font-weight: normal;
  }
}
.view-my-events {
  .views-row {
    margin-bottom: 20px;
    .views-field {
      font-size: 140%;
      margin-bottom: .4em;
      &.views-field-title {
        font-size: 180%;
        font-weight: bold;
      }
      &.views-field-field-event-type {
        text-transform: uppercase;
        font-size: 130%;
      }
    }
    .views-label {
      color: #999;
    }
    .field-content {
      display: inline;
    }
  }
}

/* search results */
.search-results {
  @extend %narrowbody;
  li {
    margin-bottom: 20px;
    h2 {
      font-size: 170%;
    }
    .search-snippet-info {
      padding-left: 0;
      p {
        margin: 0 0 .5em;
        font-size: 140%;
        &.content-type {
          margin: 0;
          font-style: italic;
        }
      }
    }
  }
}

// Cookies message popup
#sliding-popup {
  width: 100%;
  padding: 14px 0 12px;
  background-color: white;
  border-top: 1px solid black;
  .popup-content {
    @extend %wrapper;
    #popup-text {
      h2 {
        font-size: 160%;
      }
      p {
        margin-bottom: 0;
      }
    }
    #popup-buttons {
      button {
        font-size: 140%;
      }
    }
  }
}

/*********************
* Footer
**********************/
footer[role="contentinfo"] {
  #page.mapa-del-canvi & {
    display: none;
  }
}

// footer top
.region-footer-top {
  background: $theme_red;
  color: white;
  padding: 20px 0;
  a {
    color: white;
  }
  > .inner {
    @extend %wrapper;
    @extend %below-wrapper-horizontal-air;
    @extend %clearfix;
  }

  .block {
    > header {
      h1 {
        font-size: 180%;
        margin-bottom: 0;
        padding-bottom: .3em;
        border-bottom: 1px solid white;
      }
    }
  }

  // Information Channels (Footer Top region)
  #block-views-nodequeue_2-block_1 {
    float: left;
    width: 25%;
    padding-right: 25px;
    @media screen and (max-width: $bigger_screen_width) {
      width: 50%;
    }
    @media screen and (max-width: $small_screen_width) {
      @include one-columnize;
    }
  }
  .view-nodequeue-2 {
    padding-top: 20px;
    .views-row {
      margin-bottom: 40px;
    }
    .node {
      a {
        color: white;
        &:hover {
          color: white;
        }
      }
    }
  }

  // Projects list
  #block-views-nodequeue_4-block {
    float: left;
    width: 25%;
    padding-right: 25px;
    @media screen and (max-width: $bigger_screen_width) {
      width: 50%;
      padding-right: 0;
    }
    @media screen and (max-width: $small_screen_width) {
      @include one-columnize;
    }
  }
  .view-nodequeue-4 {
    .views-row {
      padding: 10px 0 20px;
      border-top: 1px solid white;
      &.views-row-1 {
        border-top: none;
      }
      .views-field-field-image {
        margin-bottom: 15px;
      }
      .views-field-body {
        p {
          margin-bottom: 0;
          font-size: 140%;
          line-height: 1.25;
        }
      }
    }
  }
}

/*** footer bottom ***/
.region-footer {
  @extend %clearfix;
  padding: 16px 0;
  color: $theme_grey_light;
  background: $theme_grey_darker;
  > .inner {
    @extend %wrapper;
    @extend %below-wrapper-horizontal-air;
  }
  p {
    color: white;
    font-size: 140%;
    margin-bottom: 0;
  }
  a {
    color: $theme_grey_light;
    &:hover {
      text-decoration: underline;
    }
  }
  nav {
    ul.menu {
      @extend %clearfix;
      li {
        float: left;
        margin-right: 15px;
        a {
          display: block;
          font-size: 140%;
          padding: .3em 0;
        }
      }
    }
  }
}

/* cc block */
#block-bcnencomu-creativecommons {
  float: right;
  width: 33%;
  p {
    @extend %clearfix;
    line-height: 1;
    a {
      &:hover {
        .icon {
          opacity: 1;
        }
      }
      .icon {
        float: right;
        opacity: .5;
        width: 75px;
        background-position: 0 -175px;
      }
    }
  }
}

/* legal menu */
#block-menu-menu-legal-menu {
  float: left;
  width: 33%;
}
