# Ignore all core files
/*.txt
/*.php
/.htaccess
/.editorconfig
/web.config
/includes
/misc
/modules
/profiles
/scripts
/themes

# Ignore dependencies
node_modules

# Ignore translations
/sites/*/translations

# Ignore configuration files that may contain sensitive information.
/sites/*/settings.php
/sites/*/secret.settings.php

# Ignore paths that contain user-generated content.
/sites/*/files
/sites/*/private

# Ignore processed assets, will be processed in the server with gulp
/sites/all/themes/custom/bcnencomu/css/

# Other
/manuals
/.idea
