article.primaries-resultats {
	padding: 0 0 40px;
}
	.voting-options,
	.blank-option {
		text-align: center;
		margin: 0 0 40px;
	}
		.voting-option {
			display: inline-block;
			max-width: 200px;
		}
			.voting-option .results {}

	.voting-winner {}

	article.primaries-resultats table {
		left: 0;
		width: 100%;
	}
		article.primaries-resultats table tr.disabled {
			opacity: .3;
		}
			article.primaries-resultats table th {
				font-size: 1.5em;
				padding: 8px 10px;
			}
			article.primaries-resultats table td {
				font-size: 1.5em;
				padding: 8px 10px;
			}
			article.primaries-resultats table td.title {
				text-align: left;
			}
			article.primaries-resultats table td.count {
				font-size: 2em;
				font-weight: bold;
			}
			article.primaries-resultats table td.percent {
				text-align: right;
				font-size: 2em;
			}
				article.primaries-resultats table td h2 {
					font-size: 1.1em;
				}
				article.primaries-resultats table td.image img {
					max-width: 90px;
					margin: 0 auto;
				}

	div[data-results-type="map"] {}
		button.toggle-view {
			margin-bottom: 20px;
		}
		div[data-results-type="map"] .map {
			position: relative;
			width: 90%;
			max-width: 700px;
			margin: 0 auto;
			border: 3px solid #e65c56;
		}
			div[data-results-type="map"] .map .voting-winners {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
				div[data-results-type="map"] .map .voting-winners .voting-winner {
					width: 15%;
					position: absolute;
					opacity: .5;
				}
				div[data-results-type="map"] .map .voting-winners .voting-winner:hover {
					opacity: 1;
				}
				/* Ciutat Vella */
				div[data-results-type="map"] .map .voting-winners .voting-winner[data-neighbourhood-id="0"] {
					top: 74%;
					left: 45%;
				}
				/* Eixample */
				div[data-results-type="map"] .map .voting-winners .voting-winner[data-neighbourhood-id="1"] {
					top: 56%;
					left: 45%;
				}
				/* Gràcia */
				div[data-results-type="map"] .map .voting-winners .voting-winner[data-neighbourhood-id="2"] {
					top: 38%;
					left: 47%;
				}
				/* Horta-Guinardó */
				div[data-results-type="map"] .map .voting-winners .voting-winner[data-neighbourhood-id="3"] {
					top: 27%;
					left: 60%;
				}
				/* Les Corts */
				div[data-results-type="map"] .map .voting-winners .voting-winner[data-neighbourhood-id="4"] {
					top: 0;
					left: 0;
				}
				/* Nou Barris */
				div[data-results-type="map"] .map .voting-winners .voting-winner[data-neighbourhood-id="5"] {
					top: 0;
					left: 0;
				}
				/* Sant Andreu */
				div[data-results-type="map"] .map .voting-winners .voting-winner[data-neighbourhood-id="6"] {
					top: 0;
					left: 0;
				}
				/* Sant Martí */
				div[data-results-type="map"] .map .voting-winners .voting-winner[data-neighbourhood-id="7"] {
					top: 0;
					left: 0;
				}
				/* Sants-Montjuïc */
				div[data-results-type="map"] .map .voting-winners .voting-winner[data-neighbourhood-id="8"] {
					top: 0;
					left: 0;
				}
				/* Sarrià-Sant Gervasi */
				div[data-results-type="map"] .map .voting-winners .voting-winner[data-neighbourhood-id="9"] {
					top: 0;
					left: 0;
				}
					div[data-results-type="map"] .map .voting-winners .voting-winner .content,
					div[data-results-type="map"] .map .voting-winners .voting-winner .results {
						display: none;
					}

	div[data-results-type="list"] {}
		div[data-results-type="list"] table {}
	