/**
* External Plugins CSS
*/

/* Fancybox */
@import "../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css";
.fancybox-bg {
  background-color: $theme_red;
}
.fancybox-button, .fancybox-button:link, .fancybox-button:visited {
  color: black;
}
.fancybox-button {
  background: none;
  padding: 0;
  &:hover {
    background: none;
    color: black;
  }
}
.fancybox-slide {
  padding: 0;
}
.fancybox-content {
  width: 660px!important;
  height: 100%!important;
  float: right;
  @media screen and (max-width: 660px) {
    width: 100%!important;
  }
}
.fancybox-skin {
  border-radius: 0;
}

/* Slick Carousel */
@import "../node_modules/slick-carousel/slick/slick.scss";
.slick-slider {
  * {
    outline: none;
  }
}
.slick-list {
  z-index: 1;
}
.slick-dots {
  position: relative;
  z-index: 2;
  top: -25px;
  text-align: center;
  height: 0;
  li {
    display: inline-block;
    margin-left: 5px;
    button {
      @include hide-text;
      padding: 0;
      width: 15px;
      height: 15px;
      border: 2px solid $theme_red;
      border-radius: 50%;
      background: white;
    }
    &.slick-active {
      button {
        background: $theme_red;
      }
    }
  }
}
.slick-arrow {
  font-size: 100%;
  padding: 0;
  background: none;
  border: none;
  width: 25px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -25px;
  z-index: 2;
  &:hover {
    background: none;
  }
  &:before {
    @include iconize(-150px, -175px, 1, 2);
    content: " ";
  }
  &.slick-disabled {
    opacity: .1;
    cursor: default;
  }
  &.slick-next {
    left: auto;
    right: 0;
    &:before {
      background-position: -175px -175px;
    }
  }
  span {
    display: none;
  }
}

/* Socicon */
[data-icon]:before {
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-social-network="facebook"]:before {
  content: "\e028";
}
[data-social-network="twitter"]:before {
  content: "\e08d";
}
[data-social-network="youtube"]:before {
  content: "\e0a5";
}
[data-social-network="instagram"]:before {
  content: "\e044";
}
[data-social-network="watsapp"]:before, [data-social-network="whatsapp"]:before {
  content: "\e099";
}
[data-social-network="telegram"]:before {
  content: "\e087";
}
[data-social-network="tumblr"]:before {
  content: "\e08b";
}
[data-social-network="flickr"]:before {
  content: "\e02d";
}
[data-social-network="mail"]:before {
  content: "\e050";
}
[data-social-network="tiktok"]:before {
  content: "\e96b";
}
