/* mesures programa */
.region-sidebar-first ul.menu li a {
  position: relative;
}
  .region-sidebar-first ul.menu li a .fa {
    position: absolute;
    top: 14px;
    left: 8px;
  }
  .region-sidebar-first ul.menu li li a .fa {
    left: 28px;
  }

article#node-369 .body {
  min-height: 30em;
}
  article#node-369 .body > ul {
    overflow: hidden;
    padding-left: 0;
    margin-top: 30px;
  }
    article#node-369 .body > ul li {
      float: left;
      width: 24.1%;
      margin: 0 0 20px 1.2%;
      font-size: 1em;
      line-height: 1;
    }
    article#node-369 .body > ul li:first-child {
      margin-left: 0;
    }
      article#node-369 .body > ul li a {
        display: block;
        width: 100%;
        height: 4em;
        overflow: hidden;
        color: white;
        text-align: center;
        text-transform: none;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.6em;
        padding: 1.4em .6em;
        background: #e65c56;
        border: 1px solid #e65c56;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      article#node-369 .body > ul li a:hover {
        color: #e65c56;
        background: white;
        padding-top: 1.1em;
        border: 8px solid #e65c56;
      }
	    article#node-369 .body > ul a .fa {
		    margin-right: 8px;
		  }
.view-measures-model {
  margin-bottom: 30px;
}
  .view-measures-model .item-list > ul {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
    .view-measures-model .views-row {
      float: left;
      width: 48%;
      margin: 0 2% 20px 0;
    }
      .view-measures-model .views-row .views-field-name-field a {
        display: block;
        width: 100%;
        height: 4em;
        overflow: hidden;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 1.8em;
        padding: 1.4em;
        background: #e65c56;
        border: 1px solid #e65c56;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      .view-measures-model .views-row:hover .views-field-name-field a {
        color: #e65c56;
        background: white;
        padding-top: 1.1em;
        border: 8px solid #e65c56;
      }
.view-measures-district {
  margin-bottom: 30px;
}
  .view-measures-district .item-list > ul {
    position: relative;
    width: 694px;
    height: 626px;
    margin: 0 auto;
    background: url("../images/mapa_bcn.jpg") no-repeat 0 0;
  }
    .view-measures-district .views-row {
      position: absolute;
    }
    /* Ciutat Vella */
    .view-measures-district .views-row-1 {
      top: 72%;
      left: 46%;
    }
    /* Eixample */
    .view-measures-district .views-row-2 {
      top: 61%;
      left: 45%;
    }
    /* Gràcia */
    .view-measures-district .views-row-3 {
      top: 53%;
      left: 49%;
    }
    /* Horta-Guinardó */
    .view-measures-district .views-row-4 {
      top: 31%;
      left: 60%;
    }
    /* Les Corts */
    .view-measures-district .views-row-5 {
      top: 45%;
      left: 25%;
    }
    /* Nou Barris */
    .view-measures-district .views-row-6 {
      top: 40%;
      left: 71%;
    }
    /* Sant Andreu */
    .view-measures-district .views-row-7 {
      top: 53%;
      left: 72%;
    }
    /* Sant Martí */
    .view-measures-district .views-row-8 {
      top: 69%;
      left: 64%;
    }
    /* Sants-Montjuïc */
    .view-measures-district .views-row-9 {
      top: 69%;
      left: 26%;
    }
    /* Sarrià-Sant Gervasi */
    .view-measures-district .views-row-10 {
      top: 32%;
      left: 36%;
    }
      .view-measures-district .views-row .views-field-name a {
        font-size: 1.2em;
        color: white;
        padding: 2em;
        width: 10em;
        text-align: center;
        line-height: 1.2;
        display: block;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      .view-measures-district .views-row .views-field-name a:hover {
        
      }
.view-measures-topic {
  margin-bottom: 30px;
}
  .view-measures-topic .item-list > ul {
    overflow: hidden;
  }
    .view-measures-topic .views-row {
      float: left;
      width: 19.6%;
      margin: 0 .4% 5px 0;
    }
      .view-measures-topic .views-row .views-field-name-field a {
        display: block;
        width: 100%;
        height: 6em;
        overflow: hidden;
        color: white;
        text-align: center;
        font-size: 1.6em;
        padding: 2em 1em;
        background: #e65c56;
        border: 1px solid #e65c56;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      .view-measures-topic .views-row .views-field-name-field a:hover {
        color: #e65c56;
        background: white;
        padding-top: 1.1em;
        border: 8px solid #e65c56;
      }
article.node-mesures-programa {}
  article.node-mesures-programa section[data-subtype] {
    margin-bottom: 20px;
    border: 1px solid #e65c56;
  }
    article.node-mesures-programa section[data-subtype] > header {
      padding: 10px;
      background: #e65c56;
    }
      article.node-mesures-programa section[data-subtype] > header h2 {
        color: white;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1.4em;
        margin-bottom: 0;
      }
    article.node-mesures-programa section[data-subtype] > .content {
      padding: 10px;
    }
.view-measures-list-city,
.view-measures-list-district {}
  .view-measures-list-city .views-row,
  .view-measures-list-district .views-row {
    margin-bottom: 10px;
    font-size: 1.6em;
    line-height: 1.2;
  }
    .view-measures-list-city .views-row .views-field-title-field,
    .view-measures-list-district .views-row .views-field-title-field {
      font-weight: bold;
    }
.view-mesures-districtes-amb-mesures-model {}
  .view-mesures-districtes-amb-mesures-model .views-row {
    margin-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.2;
  }
    .view-mesures-districtes-amb-mesures-model .views-row .views-field-name {
      text-transform: uppercase;
    }

.view-mesures-cercador {}
  .views-exposed-form .form-item.form-item-edit-field-measure-for-city-value-0 {
    display: none;
  }
  .view-mesures-cercador table {
    margin: 0 0 30px;
    border-left: 1px solid #e65c56;
    border-bottom: 1px solid #e65c56;
  }
  .view-mesures-cercador table th, .view-mesures-cercador table td {
    font-size: 1.3em;
    padding: .6em .8em;
    border-right: 1px solid #e65c56;
  }
  .view-mesures-cercador table th {
    text-align: center;
    background: #e65c56;
    color: white;
  }
  .view-mesures-cercador table th.views-field-title {
    width: 30%;
  }
  .view-mesures-cercador table th.views-field-field-measure-citymodel-type {
    width: 12%;
  }
  .view-mesures-cercador table th.views-field-field-measure-topic {
    width: 30%;
  }
  .view-mesures-cercador table th.views-field-field-measure-for-city {
    width: 3%;
  }
  .view-mesures-cercador table td.views-field-field-measure-for-city {
    text-align: center;
  }

@media all and (max-width: 1080px){
  article#node-369 .body > ul li a {
    font-size: 1.5em;
    padding-top: 1em;
  }
  .view-measures-topic .views-row {
    width: 24.3%;
    margin-right: .7%;
  }
    .view-measures-topic .views-row .views-field-name-field a {
      font-size: 1.5em;
      padding: 1em;
    }
}
@media all and (max-width: 600px){
  article#node-369 .body > ul li,
  .view-measures-model .views-row {
    float: none;
    width: 100%;
    height: auto;
    margin: 0 0 20px;
  }
  .view-measures-topic .views-row {
    width: 49.3%;
  }
}