<article class="page" data-slug="home">
    <header>
        <h1 class="pageTitle">Recull de premsa</h1>
    </header>
    <div class="content">
        <div class="body">
            <p><strong>Benvingut/da al nostre recull de premsa.</strong> Aquí pots trobar tot un llistat d'articles on s'explica quines polítiques s'estan implementant a l'Ajuntament i que considerem que poden ser rellevants i pots trobar interessants per al teu dia a dia.</p>
        </div>
        <pocket-list></pocket-list>
    </div>
</article>
